<div class="container" id="home-container">
    <div class="jumbotron text-center mt-5" >
        <h1 class="display-4">Hello,Welcome to Knack Systems!</h1>
        <p class="custom">For Listing of the employees <%= link_to "click here" , employers_path  %></p>
        <p>To create the new employee  <%= link_to "click here" , new_employer_path %></p>
    </div>
</div>

