<h1>Welcome to Knack Systems</h1>
<hr>
<ul>
    <li>For Listing of the employees <%= link_to "click here" , employers_path  %></li>
    <li>To create the new employee  <%= link_to "click here" , new_employer_path %></li>
</ul>